.contact-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 50%;
  background: transparent;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s ease;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.3);

  &:hover {
    transform: translateY(-3px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
}

.button-icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
