$font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
$line-height: 1.5;
$font-weight: 400;
$text-color: rgba(255, 255, 255, 0.87);
$background-color: #242424;
$mobile-font-size: 10px;
$default-font-size: 16px;

html {
  font-size: $default-font-size;
  font-family: $font-family;
  line-height: $line-height;
  font-weight: $font-weight;
  color-scheme: light dark;
  color: $text-color;
  background-color: $background-color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 768px) {
    font-size: $mobile-font-size;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
